In [ ]:
import pandas as pd

In [6]:
df=pd.read_excel("Class 5-assingnment.xlsx")
df.head()

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

In [7]:
x = df["Weight"]
y = df["Price"]

In [8]:
import numpy as np
mean_x = np.mean(x)
mean_y = np.mean(y)

In [11]:
mean_x, mean_y

(np.float64(4.571428571428571), np.float64(47.142857142857146))

In [13]:
dev_x=x-mean_x
dev_y=y-mean_y

In [15]:
m = np.sum(dev_x *dev_y) / np.sum(dev_x **2)
m

np.float64(2.620967741935484)

In [16]:
c=mean_y - m * mean_x
c

np.float64(35.16129032258065)

In [17]:
y= (m*6.50) + c
y

np.float64(52.197580645161295)

# Task 02:
## Compute the residuals for each data point

In [ ]:
import pandas as pd 
df=pd.read_excel("Class 5-assingnment.xlsx")
df.head()

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50

In [19]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [ ]:
reg.fit(df[["Weight"]], df[["Price"]])

In [23]:

df1 = df.copy()
df1["perdict"] = reg.predict(df[["Weight"]])
df1.head()

   Weight  Price    perdict
0       2     35  40.403226
1       4     60  45.645161
2       5     20  48.266129
3       3     50  43.024194
4       6     50  50.887097

In [24]:
df["Residuals"] = df["Price"] - df1["perdict"]
df.head()

   Weight  Price  Residuals
0       2     35  -5.403226
1       4     60  14.354839
2       5     20 -28.266129
3       3     50   6.975806
4       6     50  -0.887097

# Task 03
## Calculate both the the Mean Squared Error(MSE) and Mean Absolute Error(MAE)

In [ ]:
df1.head()

   Weight  Price    perdict
0       2     35  40.403226
1       4     60  45.645161
2       5     20  48.266129
3       3     50  43.024194
4       6     50  50.887097

In [31]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
mse=mean_squared_error(df1[["perdict"]], df[["Price"]])
mse

167.30990783410135

In [32]:
mae=mean_absolute_error(df1[["perdict"]], df[["Price"]])
mae

9.87327188940092